# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @konflux-ci/build-maintainers

/pkg/cliwrappers/hermeto.go                             @konflux-ci/build-maintainers @a-ovchinnikov @eskultety @taylormadore
/pkg/cliwrappers/hermeto_test.go                        @konflux-ci/build-maintainers @a-ovchinnikov @eskultety @taylormadore
/pkg/commands/prefetch_dependencies                     @konflux-ci/build-maintainers @a-ovchinnikov @eskultety @taylormadore
/cmd/prefetch_dependencies.go                           @konflux-ci/build-maintainers @a-ovchinnikov @eskultety @taylormadore
/integration_tests/prefetch_dependencies_test.go        @konflux-ci/build-maintainers @a-ovchinnikov @eskultety @taylormadore
